body {
    margin: 0;
    padding: 0;
    background-color: #ffe992;
    font-family: "Arial", sans-serif;
    text-align: center;
}

#topbar {
    background-color: #f5c952;
    position: fixed;
    font-family: "Arial", sans-serif;
    left: 0;
    top: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;

}
#navbar {
    list-style-type: none;
    color: rgb(21, 89, 216);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.logo {
    height: 5rem;
    width: auto;
}
#title {
    margin: 0;
    font-size: 5rem;
    background: linear-gradient(to right, #0fc017, #0fa50f);
    background-clip: text;
    color: transparent;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.links {
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.4s ease-in;
    
}
.links:hover {
    text-decoration: underline;
    color:rgb(146, 147, 212);
}

#webpage {
    font-size: 2rem;
    color: rgb(0, 17, 46);
    text-decoration: underline;
    font-weight: bold;
}

#intro {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(0, 17, 46);
    margin-left: 20rem;
    margin-right: 20rem;
}

#intro_paragraphs {
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 17, 46);
    margin-left: 20rem;
    margin-right: 20rem;
}

.brand_footer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2rem;
}

.logo_footer {
    height: 4em;
    width: auto;
}

.bTitle {
    margin: 0;
    font-size: 3rem;
    background: linear-gradient(to right, #0fc017, #0fa50f);
    background-clip: text;
    color: transparent;
}

#copyright {
    font-size: 1.5rem;
    color: rgb(0, 17, 46);
    vertical-align: bottom;
    margin-left: 2rem;
}

footer {
    background-color: #f8bc16;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: left;
    width: 100%;
}

.home_imgs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#home_img, #home_img2 {
    height: 30rem;
    width: auto;
}
#home_img3 {
    display: block;
    margin: 0 auto;
    height: 62rem;
    width: auto;
    margin-bottom: 10rem;
}

.about_us {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    color: rgb(0, 17, 46);
}